<div class="form-navbar-offset">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="form-template">
          <%= link_to :back do %>
            <i class="fas fa-arrow-circle-left fa-2x btn-back"></i>
          <% end %>
          <% if list.id %>
            <h1>Edit List</h1>
          <% else %>
            <h1>Create List</h1>
          <% end %>
          <%= simple_form_for [trail, list] do |f| %>
            <%= f.input :name, input_html: { class: "form-rounded mb-2" }, label: "Template Name", placeholder: "Travel List" %>

            <%= f.simple_fields_for :others do |o| %>
              <%= o.input :category, as: :select, input_html: { class: "form-control select-category form-rounded" }, required: false,
                collection: Category.all.map { |category| [category.name, category.id] }, selected: Category.find_by(name: "Custom") %>
              <div class="custom-container">
                <%= o.input :custom_item, as: :string, label: false, input_html: { class: "custom-field form-rounded" }, required: false, placeholder: "Phone Charger" %>
                <button type ="button" class="btn btn-info custom-btn">Add item</button>
              </div>
            <% end %>

            <h1 class="mb-0">What to bring?</h1>
            <div class="category-items">
            </div>

            <% if list.id %>
              <%= f.button :submit, "Edit list", class: "btn btn-info", id: "list-submit" %>
            <% else %>
              <%= f.button :submit, "Add list", class: "btn btn-info", id: "list-submit" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
