<div class="container">
  <h3><%= @list.trail.name %></h3>
  <h5><%= @list.name %></h5>
  <%= link_to "Back to trails", trail_path(@list.trail), class: "btn-sm btn-primary text-decoration-none" %>
  <%= link_to "edit list", edit_trail_list_path(@list.trail), class: "btn-sm btn-warning text-decoration-none" %>
</div>

<div class="card-headers">
  <div class="card-item">
    <h2>Item</h2>
    <div class="list-item-info">
      <h2 class="pl-1">Qty</h2>
      <i class="fas fa-user-check"></i>
    </div>
  </div>
</div>

<% @list_items&.each_with_index do |list_item, index| %>
  <div class="card-items">
    <div class="card-item border-bottom">
      <h2><%= list_item.item.name %></h2>
      <%= simple_form_for(list_item, url: list_list_item_path(@list, list_item)) do |f| %>
        <div class="list-item-info">
          <%= f.input :quantity, label: false, input_html: { class: "quantity", min: "0", max: "999", step: "1", onchange: "this.form.submit();" } %>
          <input type="checkbox" class="" name="checkboxes[]" value="">
        </div>
      <% end %>
    </div>

    <div class="card-item">
      <div class="delegations">
        <% list_item.delegations&.each do |delegation| %>
          <%= link_to list_item_delegation_path(list_item, user_id: delegation.user.id), method: :delete do %>
            <%= cl_image_tag delegation.user.photo, class: "avatar", crop: :fill, gravity: :face %>
          <% end %>
        <% end %>
        <a href="#collabCollapse<%= index %>" data-toggle="collapse" aria-expanded="false" aria-controls="collabCollapse<%= index %>" >
          <i class="fas fa-user-plus fa-lg"></i>
        </a>
      </div>

      <%= link_to list_list_item_path(@list, list_item), method: :delete, data: { confirm: "Remove item from list?" } do %>
        <i class="fas fa-trash-alt" style="color: brown;"></i>
      <% end %>
    </div>

    <div class="collabs collapse" id="collabCollapse<%= index %>">
      <h2 class="mb-1">Trail group (<%= @collabs.size %>)</h2>
      <% @collabs&.each do |collab_user| %>
        <%= link_to list_item_delegations_path(list_item, user_id: collab_user.id), method: :post do %>
          <%= cl_image_tag collab_user.photo, class: "avatar", crop: :fill, gravity: :face %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

