<div class="container">
  <h1><%= @list.trail.name %></h1>
  <h2><%= @list.name %></h2>

  <%= link_to "Back to trails", trail_path(@list.trail), class: "btn-sm btn-primary" %>
  <%= link_to "edit list", edit_trail_list_path(@list.trail), class: "btn-sm btn-warning" %>

  <% @list_items.each do |list_item| %>
    <div class="d-flex justify-content-between align-items-center border rounded mt-4">
      <div class="d-flex justify-content-between border rounded m-2" style="width: 400px;" >
        <p><%= list_item.item.name %></p>
        <form class="quantity">
          <input type="submit" name="quantity[]" value="<%= list_item.quantity %>">
        </form>
      </div>

      <%= link_to "Delegate!", "#", class: "mx-5" %>

      <div class="checkbox">
        <label><input type="checkbox" value="" class="mr-2"></label>
      </div>

      <%= link_to "delete", list_list_item_path(@list, list_item), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>

<!--     <% @collabs.each do |collab_user| %>
      <%= link_to "#" do %>
        <%= collab_user.trail.user.name %>
      <% end %>
      <%= link_to "#" do %>
        <%= collab_user.user.name %>
      <% end %>
    <% end %> -->
  <% end %>
</div>
