<div class="activity-horizontal-container d-flex flex-row align-items-center mb-3 px-2" style="flex-wrap: nowrap; overflow: auto;">
<% confirmed_friendships.each do |friendship| %>
    <div class = "cffriendcard d-flex text-center align-items-center">
      <h3><%= friendship.sender.name if friendship.sender != user %><%= friendship.receiver.name if friendship.receiver != user %></h3>
      <p><%= friendship.sender.email if friendship.sender != user %><%= friendship.receiver.email if friendship.receiver != user %></p>
      <div class="d-flex mt-2 justify-content-between">
        <%= link_to "", index_path, class: "btn btn-light far fa-comments mx-3", style: "font-size: 30px; color: purple; " %>
        <%= link_to "", user_friendship_path(current_user, friendship), method: :delete, class: "btn btn-light fas fa-trash mx-3", style: "font-size: 30px; color: red;", data: { confirm: "Are you sure?" }  %>
      </div>
    </div>
<% end %>
</div>
