<div class="friend-navbar-offset">
    <div class="card friendcard mb-3 d-flex text-center align-items-center">
      <h1 class ="header" style="color: black;">Friends List</h1>
      <p style="font-size: 18px;">You have <%= @confirmed_friendships.count %> <%= "friend".pluralize(@confirmed_friendships.count) %> currently</p>
    </div>

  <div id="confirmedfriends">
      <%= render 'confirmedfriends', user: current_user, confirmed_friendships: @confirmed_friendships%>
  </div>


  <div class="activity-horizontal-container d-flex flex-row align-items-center mb-3 px-2" style="flex-wrap: nowrap; overflow: auto;">
  <% @pending_friendships.each do |friendship| %>
    <div class="cffriendcard d-flex text-center align-items-center" data-inpending-id="<%= friendship.sender.id %>" data-id="#<%= friendship.id %>">
        <p><strong><%= friendship.sender.name %></strong> has added you as a friend!</p>
        <% if friendship.sender.photo.blank? %>
          <%= image_tag "placeholder.png", class: "avatar", crop: :fill %>
        <% else %>
          <%= cl_image_tag friendship.sender.photo, radius: :max, width: 40, height: 40, crop: :fill, gravity: :face %>
        <% end %>
        <p><%= friendship.sender.email %></p>
        <div class="d-flex justify-content-between align-items-center">
          <%= link_to "", user_friendship_path(current_user, friendship), remote: true, method: :patch, class: "btn btn-light fas fa-user-plus mx-3", style: "color: green; font-size: 24px" %>
          <%= link_to "", user_friendship_path(current_user, friendship), method: :delete, class: "btn btn-light fas fa-user-slash mx-3", style: "color: red; font-size: 24px", data: { confirm: "Are you sure?" }, remote: true  %>
        </div>
    </div>
  <% end %>
  </div>


  <div class="" id = "pendingfriends">
      <%= render 'pendingfriends', user: current_user, pending_adds: @pending_adds %>
  </div>
  <br>
  <div class="card cffriendcard friendsearchcard px-4">
    <h3 class = "text-center">Connect with other users</h3>
      <label for="search-user" >Find more friends here!</label>

      <%= form_tag list_users_path, method: :get, remote: true, id: "search-user" do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "e.g. bob@lewagon.com" %>
        <small id="searchbarHelp" class="form-text text-muted">Search with name or email.</small>
    <% end %>
  </div>

  <div class="d-flex flex-column justify-content-center align-items-center" id="friendresults" style= "margin-bottom: 50px">
  </div>

<%= render 'shared/bottomnav' %>


<script>
  const form = document.querySelector('#search-user')
  const input = document.querySelector('#query')
  input.addEventListener('keyup', () =>{
    Rails.fire(form, 'submit')
  })
</script>


</div>
