<% @trails.each do |trail| %>
<div class="trail-card">
  <%= link_to trail_path(trail) do %>
    <div class="trail-name">
      <h5><%= trail.name %></h5>
    </div>
    <div class="trail-info">
      <div class="d-flex align-items-center">
        <div class="date-card"><p class="text-muted"><%= trail.start_date.strftime("%d %b %Y") %></p></div>
        <h6 class="mx-2 mb-2 text-muted">to</h6>
        <div class="date-card"><p class="text-muted"><%= trail.end_date.strftime("%d %b %Y") %></p></div>
      </div>
      <p class="text-muted"><%= trail.users.count + 1 %> <%= "friend".pluralize(trail.users.count + 1) %> will join this trail <i class="fas fa-search"></i></p>

    </div>
  <% end %>

  <div class="d-flex flex-column justify-content-between" style="width: 77px;">
    <%= link_to edit_trail_path(trail) do %>
      <div class="info-link">
        <i class="fas fa-info-circle fa-2x mr-2"></i>
      </div>
    <% end %>

    <div class="trail-starter">
      <h6>Started by</h6>
      <%= cl_image_tag trail.user.photo, radius: :max, width: 40, height: 40, crop: :fill, gravity: :face %>
    </div>
  </div>
</div>
<% end %>
