<% if user_signed_in? %>
  <div class="trail-container">
    <h1><%= current_user.name %></h1>
    <% if current_user.photo.blank? %>
      <%= image_tag "placeholder.png", class: "avatar-large", crop: :fill %>
    <% else %>
      <%= cl_image_tag current_user.photo, radius: :max, width: 150, height: 150, crop: :fill, gravity: :face %>
    <% end %>
    <%= link_to 'edit profile', edit_user_path(current_user), class: "btn btn-info" %>
  </div>

  <br>

  <div class="d-flex justify-content-center">
    --------------------------------------------------------
  </div>

  <br>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <h2>My <%= "trail".pluralize(@trails_count) %> (<%= @trails_count %>)</h2>
    <%= link_to "Create a new trail", new_trail_path, class: "btn btn-primary" %>
  </div>

  <% @trails&.each do |trail| %>
    <div class="d-flex justify-content-center m-3">
      <div class="card" style="width: 18rem;">
        <h2><%= trail.name %></h2>
        <div class="card-body">
          <p>Started by <%= trail.user.name %></p>
          <%= link_to "See More", trail_path(trail), class: "btn btn-primary" %>
          <%= link_to "Edit", edit_trail_path(trail), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  <% end %>

  <% if @collabs.empty? == false %>
  <div class="d-flex justify-content-center">
    --------------------------------------------------------
  </div>
   <div class="d-flex justify-content-center">
    <h2>My <%= "collab".pluralize(@collabs_count) %> (<%= @collabs_count %>)</h2>
    </div>

    <% @collabs.each do |collab| %>
      <div class="d-flex justify-content-center m-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h2><%= collab.trail.name %></h2>
            <p>Started by <%= collab.trail.user.name %></p>
            <%= link_to "See More", trail_path(collab.trail), class: "btn btn-primary" %>
            <%#= link_to "info", edit_trail_path(collab.trail) %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

<% else %>
  <h1>Please login!</h1>
<% end %>
