<% if user_signed_in? %>

  <div class="profile-container">
    <div class="logout">
      <div style="padding: 16px 0 0 16px">
    <%= link_to user_friendships_path(current_user) do %>
      <i class="fas fa-users"  style="color: #e2b85d"></i>
    <% end %>
  </div>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Confirm Logout?" }, class: "btn btn-grey" %>
    </div>
    <h1><%= current_user.name %></h1>
    <% if current_user.photo.blank? %>
      <%= image_tag "placeholder.png", class: "avatar-large", crop: :fill %>
    <% else %>
      <%= cl_image_tag current_user.photo, radius: :max, width: 150, height: 150, crop: :fill, gravity: :face %>
    <% end %>
    <%= link_to 'Edit Profile', edit_user_path(current_user), class: "btn btn-grey" %>
  </div>

  <div class="trail-container">
    <div class="trail-heading">
      <div class="trail-count">
        <h2>My <%= "Trail".pluralize(@trails_count) %></h2>
      </div>
      <div class="trail-options">
        <a class="fas fa-sliders-h fa-lg text-decoration-none" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <%= link_to "Sort by Name", index_path(sort_by: 'name'), class:"dropdown-item", id:"unhideoption1", remote: true %>
          <%= link_to "Sort by Start Date", index_path(sort_by: 'date'), class:"dropdown-item", id:"unhideoption2", remote: true %>
          <%= link_to "Hide", index_path(sort_by: 'hide'), class:"dropdown-item", id:"hideoption", remote: true %>
        </div>
      </div>
      <%= link_to new_trail_path do %>
        <div class="trail-options">
          <i class="fas fa-plus fa-lg"></i>
        </div>
      <% end %>
    </div>


    <div id="trailsindex">
        <%= render 'trail_cards', trails: @trails %>
    </div>

    <% if !@collabs.empty? %>
      <div class="collab-heading">
        <div class="collab-count">
          <h2>My <%= "Collab".pluralize(@collabs_count) %></h2>
        </div>

        <div class="collab-options">
          <a class="fas fa-sliders-h fa-lg text-decoration-none" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to "Sort by Name", sortcollab_path(sort_by: 'name'), class:"dropdown-item", id:"unhideoptionCollab1", remote: true %>
            <%= link_to "Sort by Start Date", sortcollab_path(sort_by: 'date'), class:"dropdown-item", id:"unhideoptionCollab2", remote: true %>
            <%= link_to "Hide", sortcollab_path(sort_by: 'hide'), class:"dropdown-item", id:"hideoptionCollab", remote: true %>
          </div>
        </div>
      </div>

      <div id="collabIndex">
          <%= render 'collab_cards', collabtrails: @collabtrails %>
      </div>

    <% end %>
  </div>

<% else %>
  <div class="login-elements">
    <div class="animated bounceIn"><%= image_tag "trailexport.png", height: 220, width: 280, crop: :fill%></div>
    <div id="login-buttons" class="m-2 p-2 d-flex flex-column justify-content-center align-items-center text-center animated fadeIn delay-1s">
      <%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-block btn-grey text-decoration-none" %>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-block btn-grey text-decoration-none" %>
    </div>
  </div>
<% end %>

<style>
  .text-muted {
    background: 0;
  }

  .hidden {
    display: none;
  }
</style>

<script>
  const unhideoption = () => {
    hide.classList.remove('hidden');
  };
  const hideoption = () => {
    hide.classList.add('hidden');
  };
  const unhideoptionCollab = () => {
    hideCollab.classList.remove('hidden');
  };
  const hideoptionCollab = () => {
    hideCollab.classList.add('hidden');
  };
  var hide = document.querySelector(`#hideoption`);
  var unhide1 = document.querySelector(`#unhideoption1`);
  var unhide2 = document.querySelector(`#unhideoption2`);
  hide.addEventListener("click", hideoption);
  unhide1.addEventListener("click", unhideoption);
  unhide2.addEventListener("click", unhideoption);
  var hideCollab = document.querySelector(`#hideoptionCollab`);
  var unhideCollab1 = document.querySelector(`#unhideoptionCollab1`);
  var unhideCollab2 = document.querySelector(`#unhideoptionCollab2`);
  hideCollab.addEventListener("click", hideoptionCollab);
  unhideCollab1.addEventListener("click", unhideoptionCollab);
  unhideCollab2.addEventListener("click", unhideoptionCollab);
  // document.querySelectorAll(`.unhideoption`).addEventListener("click", hide.classList.remove('hidden'));
</script>

