<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-template">
        <%= link_to :back do %>
          <i class="fas fa-arrow-circle-left btn-back"></i>
        <% end %>
        <%= simple_form_for trail do |f| %>
          <% if trail.id %>
            <h1>Trail info</h1>
          <% else %>
            <h1>Create Trail</h1>
          <% end %>

          <%= f.error_notification %>
          <%= f.input :name, input_html: { class: "form-rounded" }, label: "Trail name", placeholder: "e.g. Trail #{ Trail.count + 1 }" %>
          <%= f.input :start_date, input_html: { class: "form-rounded" } %>
          <%= f.input :end_date, input_html: { class: "form-rounded" } %>

          <%= f.simple_fields_for :others do |o| %>
            <%= o.input :email, input_html: { class: "form-control select2", multiple: "multiple" }, required: false,
              collection: User.where.not(id: current_user).map { |user| user.email }, label: "Invite friends (email)", include_hidden: false %>
          <% end %>

          <% if trail.id %>
            <%= f.button :submit, "Update Trail", class: "btn btn-info" %>
            <%= link_to "Delete", trail_path(trail), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-grey mt-3" if trail.user == current_user %>
          <% else %>
            <%= f.button :submit, "Create Trail", class: "btn btn-info" %>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>
</div>
