<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-template">
        <h1>Create Trail</h1>
        <%= simple_form_for trail do |f| %>
          <%= f.error_notification %>
          <%= f.input :name, input_html: { class: "form-rounded" }, label: "Trail name", placeholder: "Trail #{ Trail.count + 1 }" %>
          <%= f.input :start_date, input_html: { class: "form-rounded" } %>
          <%= f.input :end_date, input_html: { class: "form-rounded" } %>

          <%= f.simple_fields_for :others do |o| %>
            <%= o.input :email, input_html: { class: "form-control select2", multiple: "multiple" }, required: false,
              collection: User.where.not(id: current_user).map { |user| user.email }, label: "Invite friends (email)", include_hidden: false %>
          <% end %>

          <%= f.button :submit, "Create Trail", class: "btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
