<h1>My <%= "trail".pluralize(@trails_count) %> (<%= @trails_count %>)</h1>

<% @trails.each do |trail| %>
  <p><%= trail.name %></p>
  <%= link_to "edit", edit_trail_path(trail) %>
  <%= link_to "delete", trail_path(trail), method: :delete %>
<% end %>

<%= link_to "+",  new_trail_path, class: "btn btn-primary" %>


