<div class="d-flex justify-content-center">
  <div class="d-flex flex-column align-items-center justify-content-center" style="border: 1px solid black; width: 90%">
    <h1><%= @trail.name %></h1>
    <p><%= @trail.start_date.strftime("%a, %b %d %Y")  %> - <%= @trail.end_date.strftime("%a, %b %d %Y")  %><%= link_to " Edit", edit_trail_path(@trail) %></p>
    <% if (@trail.start_date - Date.today).to_i > 0 %>
          <p>Countdown: Trail begins in <%= (@trail.start_date - Date.today).to_i %> more days!</p>
        <% elsif (@trail.start_date - Date.today).to_i == 0 %>
          <p>First day of your trail! Have fun!</p>
        <% elsif (@trail.end_date - @trail.start_date).to_i > 0 %>
          <p><%= (@trail.end_date - Date.today).to_i %> more days left in this trail!</p>
        <% else %>
          <p>This trail is completed!</p>
    <% end %>
  </div>
</div>

<br>

<div class="d-flex justify-content-center">
  <div class="d-flex flex-column align-items-center justify-content-center" style="border: 1px solid black; width: 90%">
    <h2>Trail group (<%= @trail.users.count + 1 %>)</h2>
    <p>Owner: <%= @trail.user.name %></p>
    <% @trail.users.each do |collab_user| %>
      <p>
        <%= collab_user.name %>
        <% if current_user == @trail.user %>
          <%= link_to "remove", trail_collab_path(@trail, collab_user), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>

<br>

<div class="d-flex justify-content-center">
  <div class="d-flex flex-column align-items-center justify-content-center" style="border: 1px solid black; width: 90%">
  <h2>Planning List</h2>

  <!-- add template codes here -->
  <%= link_to "Add a template", new_trail_list_path(@trail), class: "btn btn-primary my-2" %>
  <% @lists.each do |list| %>
    <div class="card-body d-flex flex-column text-center justify-content-between m-3" style="border: 1px solid black; width: 60%">
      <h2><%= list.name %></h2>
      <%= link_to "Show", list_path(list) %>
      <%= link_to "Delete", trail_list_path(@trail, list), method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
  </div>
</div>



<div class="container d-flex flex-row align-items-center" id="activity-horizontal-container" style="flex-wrap: nowrap; overflow: auto;">
  <% @activities.each do |date, activities|%>
    <div class ="datecard d-flex justify-content-center align-items-center" style = "flex: 0 0 auto">
      <div class="d-flex justify-content-center" style="width: 18rem; height:300px" >

        <div class="card-body d-flex flex-column p-1 <%= activities.empty? ? 'justify-content-center': 'justify-content-between' %> text-center">
          <div>
            <h5 class="card-title"><%= date.strftime('%a, %b %d %Y')%></h5>
            <% if activities.empty? %>
              <h3>No Activities</h3>
                <%= form_tag list_activity_trail_path(@trail), method: :get, remote:true do %>
                  <%= hidden_field_tag 'date', date %>
                  <button id="addactbtn" class="btn btn-sm btn-block" type="submit" data-toggle="modal" data-target="#exampleModalLong">Add an activity</button>
               <% end %>
             <% else %>
                  <% activities.take(3).each do |activity| %>
                    <div class="card m-1" style="border-radius: 5px; background-color: white;">
                      <p class="card-text m-3"><%= activity.name %></p>
                    </div>
                  <% end %>
          </div>
          <div>
            <%= form_tag list_activity_trail_path(@trail), method: :get, remote:true do %>
              <%= hidden_field_tag 'date', date %>

              <button id="seemorebtn" class="btn btn-sm btn-block" type="submit" data-toggle="modal" data-target="#exampleModalLong">See more</button>
           <% end %>

          <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="modal animated zoomIn" id="exampleModalLong"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog m-0 modal-dialog-centered" role="document">
    <div class="activity-modal-content modal-content d-flex align-items-center" style= "position: relative">
      <i class="far fa-times-circle" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </i>
      <div class="modal-header border-0 d-flex justify-content-center align-items-center t-5 mx-3">
        <i class="fas fa-calendar-day"></i>
        <h2 class="modal-title my-1 mx-2 py-3 " id="activity-modal-title"></h2>
      </div>
      <div id='activity-modal-content' class="d-flex flex-column modal-body">
       </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<nav class="navbar fixed-bottom navbar-light bg-light d-flex justify-content-around align-items-center animated bounceIn">
    <button type="button" id="locations" class="btn btn-outline-dark">
      <%= link_to "", trail_activities_path(@trail), class: "fas fa-map-marked-alt"  %>
    </button>
    <button type="button" id="home" class="btn btn-outline-dark">
      <%= link_to "", root_path, class: "fas fa-home" %>
    </button>
    <button type="button" id="friends" class="btn btn-outline-dark">
      <i class="fas fa-users"></i>
    </button>
</nav>
