

<div data-id=<%= activity.id %>>
  <!-- <div class="accordion" id="accordionExample"> -->
    <div class="card">
           <div data-toggle="collapse" data-target="#collapse<%= activity.id %>" aria-expanded="true" aria-controls="collapse<%= activity.id %>" class="card-header shadow-sm p-0 mb-0 bg-white rounded" id="heading<%= activity.id %>" card d-flex flex-column text-center justify-content-center align-items-center" style="width: 18rem; height:100px" >
              <div class="card-body d-flex align-items-center">
                <p class="card-text">
                  <%= activity.name %>
                  <%= link_to "", trail_activity_path(activity.trail, activity), class:"far fa-times-circle", method: :delete, data: {confirm: "r u sure"} ,remote: true  %>
                  <%= link_to "", edit_trail_activity_path(activity.trail, activity), class: "fas fa-pencil-alt", remote: true %>
                </p>
              </div>
            </div>
      <!-- </div> -->

      <div id="collapse<%= activity.id %>" class="collapse hide" aria-labelledby="heading<%= activity.id %>" >
        <div class="card-body">
          <p><strong>Starting at: </strong><%= activity.start_time.to_datetime.strftime("%l:%M:%p") if activity.start_time != nil %></p>
          <p><strong>Ends by: </strong><%= activity.end_time.to_datetime.strftime("%l:%M:%p") if activity.end_time != nil %></p>
          <p>Location: <%= activity.location %></p>
          <p>Description: <%= activity.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
