<div class="card-body d-flex flex-column p-1 <%= activities.empty? ? 'justify-content-center': 'justify-content-between' %> text-center">
  <div>
    <h5 class="card-title"><%= date.strftime('%a, %b %d %Y')%></h5>
    <% if activities.empty? %>
      <div></div>
      <h3>No Activities</h3>
      <%= form_tag list_activity_trail_path(@trail), method: :get, remote:true do %>
        <%= hidden_field_tag 'date', date %>
        <button id="addactbtn" class="btn btn-sm btn-block" type="submit" data-toggle="modal" data-target="#exampleModalLong">Add an activity</button>
      <% end %>
    <% else %>
      <% activities.take(2).each do |activity| %>
        <div class="card m-2" style="border-radius: 5px; background-color: white;">
          <p class="card-text m-3"><%= activity.name %></p>
        </div>
      <% end %>
    </div>
    <div>
      <%= form_tag list_activity_trail_path(trail), method: :get, remote:true do %>
        <%= hidden_field_tag 'date', date %>
        <button id="seemorebtn" class="btn btn-sm btn-block" type="submit" data-toggle="modal" data-target="#exampleModalLong">See more</button>
      <% end %>
    <% end %>
  </div>
</div>
