<h1><%= @activity.trail.name %></h1>
<p><%= @activity.start_time %> to <%= @activity.end_time %></p>

<p><%= @activity.description %></p>
<%= link_to "edit", edit_trail_activity_path(@activity.trail, @activity) %>
